<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Organisation</title>


    <!-- Bootstrap -->
    <!-- --------------BootStrap Inclusion Starts--------------------- -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- --------------BootStrap Inclusion Ends--------------------- -->


    <!-- CSS -->
    <!-- --------------FontAwesome Inclusion Starts--------------------- -->
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/style_search_org.css">
    <!-- --------------FontAwesome Inclusion Ends--------------------- -->

    <style type="text/css">
        .orgBody {
            max-width: 900px;
            padding: 15px;
        }
        
        .orgDetails {
            display: flex;
            padding: 0px 50px;
            justify-content: space-between;
            /*line-height: 0.5rem;*/
        }
        
        .orgDetails .basicDetails {
            max-width: 60%;
        }
        
        .orgDetails .contactDetails {
            max-width: 30%;
        }
        
        .search form {
            border-radius: 10px;
            border: 1px solid black;
            width: 40%;
            display: flex;
            justify-content: space-between;
        }
        
        #myInput {
            padding: 10px;
            width: 100%;
            border: none;
            outline: none;
        }
        
        #myInput:focus {
            outline: none;
        }
        
        .search button {
            outline: none;
            border: none;
            background-color: transparent;
            padding-right: 20px;
        }
    </style>
</head>


<body>

    <section id="header-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <span style="font-size: 2em; color: black;">
                 <i class="fas fa-book-open"></i>
                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h2 class="my-name-top">Book Donation&nbsp&nbsp&nbsp&nbsp&nbsp</h2>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard" style="padding-top: 12px;">
                            <span style="font-size: 1em; color: black; padding-top: 5em;">
                  <i class="fas fa-angle-double-up"></i>
                  <span class="sr-only">(current)</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item hmepge_href">
                        <a class="nav-link" href="/dashboard">Dashboard&nbsp&nbsp&nbsp<span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0"></form>
                <a class="nav-link" href="/logout">
                    <button class="btn btn-outline-light btn btn-dark" type="submit" style="width: 2.5cm;"></i>Logout</button>
                </a>
                </form>
            </div>
        </nav>
    </section>

    <h1 style="margin-top: 3cm; text-align: center;"><b>Search Organisation</b></h1>

    <center>
        <div class="search">
            <form action="/search_org" method="POST">
                <input type="text" id="myInput" name="type" placeholder="Search by Organisation Type">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </center>
    <% if (message.length > 0) { %>
        <h3>
            <%=message%>
        </h3>
        <% } else { %>
            <% for (var i = 0; i < data.length; i++) { %>
                <center>
                    <div class="card text-center orgBody">
                        <div clas="card-body">
                            <h3 class="card-title">
                                <%=data[i].orgName%>
                            </h3>
                            <h6 class="card-text">(
                                <%=data[i].orgType%> )</h6>
                            <div class="orgDetails">
                                <div class="basicDetails">
                                    <p class="card-text">
                                        <%=data[i].des%>
                                    </p>
                                    <p class="card-text"><u>No. of Children</u> :
                                        <%=data[i].childNo%>
                                    </p>
                                    <p class="card-text"><u>Age Group</u> :
                                        <%=data[i].age%>
                                    </p>
                                </div>
                                <div class="contactDetails">
                                    <p class="card-text"><small class="text-muted"><b><u>Address and Contact Details</u></b></small></p>
                                    <p class="card-text">
                                        <%=data[i].address%>
                                    </p>
                                    <p class="card-text">
                                        <%=data[i].email%>
                                    </p>
                                    <p class="card-text">
                                        <%=data[i].contact%>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
                <% }} %>


</body>

</html>